<p>

	<div class="author centered">{{ site.author }}</div>

	<div class="centered contact-div">
		<a href="https://plus.google.com/116898228043449492263/posts" class="link contact"><i class="icon-google-plus-sign"></i></a>
		<a href="https://github.com/gogromat/" class="link contact"><i class="icon-github-sign"></i></a>
		<a href="https://twitter.com/Astafurov_Alex" class="link contact"><i class="icon-twitter-sign"></i></a>
	</div>

	<br>
	<br>

	<script data-gittip-username="gogromat" src="https://www.gittip.com/assets/widgets/0002.js"></script>

	<br>
	<br>

	<div class="brand centered">
		Copyright &copy; {{ site.time | date: "%Y" }} - 
		<span class="credit">Powered by <a href="http://octopress.org">Octopress</a></span>
	</div>
</p>
